*{box-sizing: border-box;}
body, html{height: 100vh; margin: 0; padding: 0;}
body {
  background: linear-gradient(to bottom, #cc3300 0%, #663300 100%)fixed;
  color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

    grid-template-areas: 
  "header"
  "main"
  "footer";
}
.colorbackground {
  background: linear-gradient(to bottom, #996633 0%, #ffcc66 100%);

}
header {
  grid-area: header;
  font-family: 'Supermercado One', cursive;
  text-align: center;
  font-size: 2em;
  padding: 12%;
  }
main {
  padding: 10px;
  grid-area: main;
  display:grid;
  grid-column-gap: 1em;
  grid-template-columns:1fr;
  color: black;
}
ul {list-style: none}

.onebox {
  border: 2px solid black;
  margin: 10px;
  background: #ffcc66;
}
.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  }
a {
    text-decoration: none;
}
a:link, a:visited {
  color: white;
}
@media only screen and (min-width: 37em) {  /* skjáir (screen) sem eru stærri en 48em (768px) */
article {grid-area: article;}
aside {grid-area: aside;}

  main{
  grid-column-gap: 3em;
  grid-template-areas: 
  "article article"
  "aside aside";
  }
  article {
    padding-top:2em;
  }
  aside {
    padding-top: 2em;
  }
  footer {
    margin-left:10px; margin-right:10px; margin-bottom:10px;
  }


}
@media only screen and (min-width: 48em) {  /* skjáir (screen) sem eru stærri en 37.5em (600px) */
  main {
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
    grid-template-areas: 
  "article  aside";
}

.arrow {width: 320px;}
@media only screen and (min-width:60em) {  /* skjáir (screen) sem eru stærri en 37.5em (600px) */
 footer {
  grid-area: footer;
  grid-gap: 30px;
  grid-template-rows: 1fr;
  grid-template-columns: 33% 33% 33%;
  display:grid;
}
header,main,footer{margin:0 auto; max-width:60em;}


}
